[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-generativeai = "*"
requests = "*"
bs4 = "*"
flask = "*"
flask-sqlalchemy = "3.0.2"
sqlalchemy-serializer = "1.4.1"
flask-migrate = "4.0.0"
flask-restful = "0.3.9"
sqlalchemy = "1.4.36"
flask-cors = "3.0.10"

[dev-packages]

[requires]
python_version = "3.9"
